@layout EmptyLayout
@page "/Login"
@attribute [AllowAnonymous]
@using CMS.Auth

<Ajax></Ajax>
<!-- ajax service 必须添加这个组件 -->
<div class="is4">
    <div class="header">
        <span>登录中心</span>
    </div>

    <div class="login-body">
        <div class="row">
            <div class="col-sm-6 login-desc">
                <p class="main-title">
                    药品/器械不良事件登记系统
                </p>
                @*<p class="secondary-title">
                    欢迎使用 不良事件 登记系统
                </p>*@
            </div>
            <div class="col-sm-6">
                <form asp-route="Login">
                    <div class="my-alert my-alert--error is-light"></div>
                    <div class="row my-radio-group">
                        @*<div class="col-12 my-radio-button__inner active" data-value="plat">登录中心</div>*@
                    </div>
                    <input id="returnUrl" type="hidden" asp-for="ReturnUrl" />
                    <div class="form-group">
                        <label>用户名：</label>
                        <input class="form-control" id="userName" placeholder="账号" asp-for="UserName" autofocus autocomplete="off" @bind-value="user.UserName">
                        <span class="text-danger field-validation-error" id="lblUserName">请输入账号</span>
                    </div>
                    <div class="form-group">
                        <label>登录密码：</label>
                        <input onkeyup="@OnKeyup"  class="form-control" type="password" id="password" placeholder="密码" asp-for="Password" autocomplete="off" @bind-value="user.Password">
                        <span class="text-danger field-validation-error" id="lblPassword">请输入密码</span>
                    </div>
                    <div class="form-group">
                        <div id="content"></div>
                    </div>
                    <div class="form-group">
                        <Button Text="登  录" OnClick="OnLogin"  />
                    </div>
                    <div class="form-group">
                        <a href="http://196.147.123.4:81" target="view_window" style="text-decoration:none">其它不良事件系统</a>
                    </div>
                    <div class="form-group">
                        <a href="http://196.147.123.4:82/login.aspx" target="view_window" style="text-decoration:none">手术管理系统</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="login-footer">
        @*不良事件 登记系统*@
    </div>
</div>


@code
{
    [Inject]
    IJSRuntime jSRuntime { get; set; }

    [Inject]
    NavigationManager navigationManager { get; set; }

    [Inject]
    AjaxService AjaxService { get; set; }

    [Inject]
    MessageService messageService { get; set; }

    UserModel user = new UserModel();

    async Task OnLogin()
    {
        var option = new AjaxOption
        {
            Url = "api/Account/Login",
            Data = user
        };
        var result = await AjaxService.InvokeAsync(option);
        try
        {
            var str = result.RootElement.ToString();
                var model = Newtonsoft.Json.JsonConvert.DeserializeObject<LoginResultModel>(result.RootElement.ToString());
            if (model.Code == 1)
            {
                navigationManager.NavigateTo("/", true);
            }
            else
            {
                await messageService.Show(new MessageOption { Content = model.Msg, Color = Color.Danger });
            }
        }
        catch
        {
            await messageService.Show(new MessageOption { Content = "登录失败", Color = Color.Danger });
            user.UserName = "";
            user.Password = "";
        }
    }

    async Task OnKeyup(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await OnLogin();
        }
    }
}
