@page "/campus"

<MRow>
    <MImage Src="imgs/campus/campus1.png"/>
</MRow>

<MRow Class="text-lg-center" Style="background-color: #e5e5e5;">
    <div style="color: #d95050; font-size: 36px; height: 5em; display: flex; justify-content: center; align-items: center;">
        <span class="my_shadow_title">Our campus location</span>
    </div>
</MRow>

<MRow Style="background-image:url(imgs/campus/campus2.png);height:380px;text-align:center;vertical-align:middle;background-size:cover;">
    <span style="color: #672d2d;line-height:380px;font-size:36px;font-family:fantasy;opacity:0.6;">Signapore</span>
</MRow>

<MRow>
    <MCol Cols="8">
        <div style="background-color: #672d2d"></div>
    </MCol>
    <MCol Cols="4">
        <div style="margin: 14px; background-color: #ededed; text-align: center; padding: 5px; font-size: 12px; color: #5d1b1b;font-weight:600 ">
            <p>There are many buses that you can take to bus stops</p>
            <p>located near PSB Academy’s City Campus.</p>
            <p>These include the following:</p>
            <p>. Bus Stop at Promenade Station/Pan Pacific:</p>
            <p>. Served by 36, 36B, 97, 97e, 107M, and 961M</p>
            <p>. Bus Stop at The Esplanade or The Float @("@") Marina Bay:</p>
            <p>. Served by buses 36, 36B, 56, 70M, 75, 77, 97, 97e, 106, 111,133, 162M, 195, 195A, 857, 960, 960e, and 961M</p>
        </div>
    </MCol>
</MRow>

<MRow Style="background-image:url(imgs/campus/campus3.png);height:800px;background-size:cover;">
    <MRow Style="background-image: url(imgs/campus/campus4.png);opacity:0.8;background-size:cover;height:400px;">
    </MRow>
    <MRow>
        <div style="text-align: left; padding: 5px; font-size: 12px; color: #5d1b1b;">
            <p>Office Locations——</p>
            <p>Singapore Corporate Office</p>
            <p>Phone: +65 6221 3306</p>
            <p>Fax: +65 6221 3307</p>
            <p>Email: singapore-enquiry@newcastle.edu.au</p>
            <p>Location / Postal Address100 Victoria Street,#13-01/02, National Library Building,Singapore 188064</p>
            <p>Newcastle, Australia</p>
            <p>Phone: +61 2 4921 5000</p>
            <p>Fax: +61 2 4985 4200</p>
            <p>Enquire Online: AskUoN</p>
            <p>Location / Postal AddressUniversity DriveCallaghan NSW 2308Australia</p>
        </div>

        <div style="text-align: left; padding: 5px; font-size: 12px; color: #5d1b1b;">
            <p>Enquiries——</p>
            <p>General</p>
            <p>Email: singapore-enquiry@newcastle.edu.au</p>
            <p></p>
            <p>Career Opportunity</p>
            <p>Email: singapore-careers@newcastle.edu.au</p>
            <p></p>
            <p>Student Matters</p>
            <p>Email: singapore-studentcentral@newcastle.edu.au</p>
            <p></p>
            <p>Academic Staff</p>
            <p>Email: singapore-acadadmin@newcastle@edu.au</p>
            <p></p>
            <p>Data Protection</p>
            <p>Email: singapore-dpo@newcastle.edu.au</p>
            <p></p>
            <p>Marketing, Events and Partnerships</p>
            <p>Email: singapore-marketing@newcastle.edu.au</p>
        </div>
    </MRow>
</MRow>