@page "/campus"

<style scoped>
    .my_campus_content {
        text-align: left;
        padding: 20px;
        font-size: 14px;
        color: #5d1b1b;
    }
</style>

<MRow>
    <MImage Src="imgs/campus/campus1.png"/>
</MRow>

<MRow Class="text-lg-center" Style="background-color: #e5e5e5;">
    <div style="color: #d95050; font-size: 36px; height: 5em; display: flex; justify-content: center; align-items: center;">
        <span class="my_shadow_title">Our campus location</span>
    </div>
</MRow>

<MRow Style="background-image:url(imgs/campus/campus2.png);height:380px;text-align:center;vertical-align:middle;background-size:cover;">
    <span style="color: #672d2d;line-height:380px;font-size:36px;font-family:fantasy;opacity:0.6;">Signapore</span>
</MRow>

<MRow>
    <MCol Cols="8">
        <div style="background-color: #672d2d"></div>
    </MCol>
    <MCol Cols="4">
        <div style="margin: 14px; background-color: #ededed; text-align: center; padding: 5px; font-size: 12px; color: #5d1b1b;font-weight:600 ">
            <p>There are many buses that you can take to bus stops</p>
            <p>located near PSB Academy’s City Campus.</p>
            <p>These include the following:</p>
            <p>. Bus Stop at Promenade Station/Pan Pacific:</p>
            <p>. Served by 36, 36B, 97, 97e, 107M, and 961M</p>
            <p>. Bus Stop at The Esplanade or The Float @("@") Marina Bay:</p>
            <p>. Served by buses 36, 36B, 56, 70M, 75, 77, 97, 97e, 106, 111,133, 162M, 195, 195A, 857, 960, 960e, and 961M</p>
        </div>
    </MCol>
</MRow>

<MRow Style="background-image:url(imgs/campus/campus3.png);background-size:cover;">
<MImage Src="imgs/campus/campus4.png"/>

    <MRow>
        <div class="my_campus_content">
            <pre>
Office Locations——

Singapore Corporate Office
Phone: +65 6221 3306
Fax: +65 6221 3307
Email: singapore-enquiry@newcastle.edu.au
Location / Postal Address100 Victoria Street,#13-01/02, National Library Building,Singapore 188064

Newcastle, Australia
Phone: +61 2 4921 5000
Fax: +61 2 4985 4200
Enquire Online: AskUoN
Location / Postal AddressUniversity DriveCallaghan NSW 2308Australia
</pre>
        </div>

        <div class="my_campus_content">
            <pre>
Enquiries——

General
Email: singapore-enquiry@newcastle.edu.au

Career Opportunity
Email: singapore-careers@newcastle.edu.au

Student Matters
Email: singapore-studentcentral@newcastle.edu.au

Academic Staff
Email: singapore-acadadmin@newcastle@edu.au

Data Protection
Email: singapore-dpo@newcastle.edu.au

Marketing, Events and Partnerships
Email: singapore-marketing@newcastle.edu.au
</pre>
        </div>
    </MRow>
</MRow>