@page "/club"
<style>
    .my_club_title {
        color: #D62020;
        font-size: 36px;
        line-height: 36px;
        text-align:center;
        font-weight:500;
    }
    .my_club_content {
        color: #7F4C4C;
    }
    .my_club_font_size{
        font-size:32px;
    }
    .my_club_img{
        width:60%;
        margin:auto;
    }

    .my_club_margin > .row{
        margin-top:2em;
    }
</style>

<div style="background-color: #F5F5F5">
    <MRow>
        <MImage Src="imgs/club/club1.png"/>
    </MRow>
    <MRow>
        <div class="my_club_title" style="margin-top:1em;margin-left:1em;">
            STUDENT CLUBS
        </div>
    </MRow>
    <MRow Class="my_flex_text">
        <div class="my_flex_text my_margin_auto">
            <div style="color: #9A7D7D;" class="my_margin">
                With a series of activities and events planned by our student leaders throughout the year,
                embark on a holistic education journey filled with exciting activities.
                Check out our wide array of student clubs and be a member of our student clubs today!
            </div>
        </div>
    </MRow>
    <MRow Class="my_margin">
        <MImage Src="imgs/club/club2.png"/>
    </MRow>
</div>
<div style="background: repeating-linear-gradient(to bottom, #C6D9F0, transparent);padding:3em;">
    <MRow>
        <MCol Cols="5" Class="my_club_margin">
            <MRow>
                <div class="my_club_title">
                    IES-PSBA Student Chapter
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Institution of Engineers Singapore (IES) is the national society of engineers in Singapore. The student chapter advances the art, science and profession of engineering, and provides a platform for engineering students in Singapore to network. Student members will gain access to “The Singapore Engineer” e-magazine, talks, workshops and industrial visits.
                </div>
            </MRow>
            <MRow>
                <div>
                    <MImage Src="imgs/club/club4.png" Class="my_club_img" />
                </div>
            </MRow>
            <MRow>
                <div class="my_club_title">
                    Google Developer Student Club
                    PSB Academy
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Supported by Google Developer and with over 1000 clubs across the globe, Google Developer Student Clubs aim to help students bridge the gap between theory and practice. Google Developer Student Club PSB Academy (DSC – PSBA) is for students interested in Google developer technologies and with interests in growing as a developer. By joining DSC- PSBA, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
                </div>
            </MRow>
            <MRow>
                <div>
                    <MImage Src="imgs/club/club5.png" Class="my_club_img" />
                </div>
            </MRow>

            <MRow>
                <div class="my_club_title">
                    Chinese Student Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    The club paves the way for Chinese students to meet and connect through social activities like a Lunar New Year celebration with other student groups to showcase the Chinese culture.
                </div>
            </MRow>
            <MRow>
                <div>
                    <MImage Src="imgs/club/club7.png" Class="my_club_img" />
                </div>
            </MRow>

            <MRow>
                <div class="my_club_title">
                    Indonesian Student Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Expect nothing less than social and cultural activities from the Indonesian students to promote mutual understanding among all students. Their schedule is packed with gatherings and sports games, all year round.
                </div>
            </MRow>
            <MRow>
                <div>
                    <MImage Src="imgs/club/club9.png" Class="my_club_img" />
                </div>
            </MRow>

            <MRow>
                <div>
                    <MImage Src="imgs/club/club10.png" Class="my_club_img" />
                </div>
            </MRow>
        </MCol>



        <MCol Cols="5" Class="my_club_margin">
            <MRow>
                <div>
                    <MImage Src="imgs/club/club3.png" Class="my_club_img" />
                </div>
            </MRow>
            <MRow>
                <div class="my_club_title">
                    PSB Academy IPRS & Media Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Want to embark on this exciting journey
                    in Public Relations and Communication?
                    Come on board now!
                </div>
            </MRow>

            <MRow>
                <div>
                    <MImage Src="imgs/club/club12.png" Class="my_club_img" />
                </div>
            </MRow>
            <MRow>
                <div class="my_club_title">
                    Leadership Development Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Leadership Development Club, a team of passionate individuals, focuses on offering opportunities for students to equip themselves with skills to be the leaders of tomorrow.
                </div>
            </MRow>

            <MRow>
                <div>
                    <MImage Src="imgs/club/club6.png" Class="my_club_img" />
                </div>
            </MRow>
            <MRow>
                <div class="my_club_title">
                    Global Student Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Global Student Club welcomes students from Malaysia, Vietnam, Thailand, Laos, Cambodia and many more.
                </div>
            </MRow>


            <MRow>
                <div>
                    <MImage Src="imgs/club/club8.png" Class="my_club_img" />
                </div>
            </MRow>
            <MRow>
                <div class="my_club_title">
                    South Asian Student Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    A place where South Asian students can feel comfortable learning and interacting with one another while helping them feel closer to home at PSB Academy. Discover various fun activities – from welcoming the new students to celebrating Diwali.
                </div>
            </MRow>


            <MRow>
                <div class="my_club_title">
                    Vietnamese Student Club
                </div>
            </MRow>
            <MRow>
                <div class="my_club_font_size my_club_content">
                    Xin chào! If you are a Vietnamese student, look no further! Vietnamese Student Club provides a platform where Vietnamese students can come together and bond through different activities. Special occasions that celebrate the unique Vietnamese culture are also held.
                </div>
            </MRow>
        </MCol>
    </MRow>

    <MRow>
        <MImage Src="imgs/club/club11.png"/>
    </MRow>
</div>